body, html {
  background-color: #272727 !important;
  color: #dcdde1 !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body a, html a {
  text-decoration: none !important;
  color: #ecf0f1 !important;
}

body li, html li {
  padding: 0px 5px;
}

body a:hover, html a:hover {
  background-color: #dcdde1 !important;
  color: #272727 !important;
}

body .active, html .active {
  background-color: #dcdde1 !important;
  color: #272727 !important;
}

body #welcomeSection h1, body #welcomeSection h2, html #welcomeSection h1, html #welcomeSection h2 {
  position: relative;
  font-size: 45px !important;
}

body #welcomeSection h1:after, html #welcomeSection h1:after {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #dcdde1;
  color: transparent;
}

body #welcomeSection h1:hover:after, html #welcomeSection h1:hover:after {
  width: 100%;
}

body #welcomeSection h2:after, html #welcomeSection h2:after {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #dcdde1;
  color: transparent;
}

body #welcomeSection h2:hover:after, html #welcomeSection h2:hover:after {
  width: 100%;
}

body #projectSection, html #projectSection {
  background-color: #272727;
  border-radius: 10px;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
  margin-bottom: 100px;
}

body #projectSection h1, html #projectSection h1 {
  font-size: 45px;
  text-decoration: underline;
}

body #projectSection #cardCollector .row, html #projectSection #cardCollector .row {
  margin: 10px 0px;
}

body #projectSection #cardCollector .row .card, html #projectSection #cardCollector .row .card {
  margin: 10px;
  border: 1px solid #dcdde1;
  background-color: #272727;
  font-weight: bold;
  height: 70%;
}

body #projectSection #cardCollector .row .card a, html #projectSection #cardCollector .row .card a {
  background-color: #272727;
  color: #dcdde1;
  border: 1px solid #dcdde1;
}

body #projectSection #arrow_down, html #projectSection #arrow_down {
  cursor: pointer;
}

body #aboutMeSection, html #aboutMeSection {
  height: 100vh !important;
}

body #aboutMeSection .accordion, body #aboutMeSection .accordion-item, body #aboutMeSection .accordion-button, html #aboutMeSection .accordion, html #aboutMeSection .accordion-item, html #aboutMeSection .accordion-button {
  width: 100% !important;
  background-color: #272727 !important;
  color: #dcdde1 !important;
  border: 1px solid #272727;
  -webkit-box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}

body #aboutMeSection i, html #aboutMeSection i {
  padding: 5px;
  font-size: 25px;
}

body #aboutMeSection #aboutPhoto, html #aboutMeSection #aboutPhoto {
  border-radius: 50%;
  background: #272727;
  color: #ecf0f1;
}

body #aboutMeSection #arrow_down_about, html #aboutMeSection #arrow_down_about {
  cursor: pointer;
}

body #scrollButton, body #scrollButtonAbout, html #scrollButton, html #scrollButtonAbout {
  padding: 30px 0px;
  font-size: 30px;
}

body #contactForm, html #contactForm {
  height: 100vh !important;
  margin: 50px 0px;
}

body #contactForm #formBox, html #contactForm #formBox {
  width: 60% !important;
  background-color: #272727 !important;
  color: #dcdde1 !important;
  border: 1px solid #272727;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

body #contactForm #formBox input, body #contactForm #formBox textarea, html #contactForm #formBox input, html #contactForm #formBox textarea {
  background-color: #272727;
  border: 1px solid #dcdde1;
  color: #fff !important;
}

body #contactForm #formBox button, html #contactForm #formBox button {
  background-color: #272727;
  border: 1px solid #dcdde1;
}

body #contactForm #formBox button:hover, html #contactForm #formBox button:hover {
  background: #fff;
  border: 1px solid #272727;
  -webkit-transition: 0.5 ease-in-out;
  transition: 0.5 ease-in-out;
  color: #272727;
}

body footer, html footer {
  position: relative;
}

body footer #backToTop, html footer #backToTop {
  position: absolute;
  bottom: 30%;
  right: 5%;
}

body footer #backToTop i, html footer #backToTop i {
  border: 1px solid #272727;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

body #backHome, html #backHome {
  position: relative;
  background-color: none !important;
  color: #dcdde1;
}

body #backHome:hover, html #backHome:hover {
  background-color: none !important;
}

body #backHome:after, html #backHome:after {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 0%;
  height: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #dcdde1;
  color: transparent;
}

body #backHome:hover:after, html #backHome:hover:after {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272727;
  border-radius: 10px;
  border: 1px solid #555;
}

@media only screen and (max-width: 920px) {
  body {
    font-size: medium !important;
    text-align: center !important;
  }
  body #welcomeSection h1, body #welcomeSection h2 {
    padding: 10px !important;
  }
  body #projectSection #cardCollector {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: 70px;
  }
  body #projectSection #cardCollector .row {
    margin: 10px 0px;
  }
  body #projectSection #arrow_down {
    display: none !important;
  }
  body #aboutMeSection #arrow_down_about {
    display: none !important;
  }
  body #contactForm #formBox {
    width: 90% !important;
  }
  body footer #backToTop {
    bottom: 50%;
  }
}
/*# sourceMappingURL=mainStyles.css.map */