 RewriteEngine on

 #redirect  /file.php to /file
  RewriteRule ^(.+).php$ /$1 [L,R]
 # now we will internally map /file to /file.php
 RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)/?$ /$1.php [END]

 RewriteEngine on

 #redirect  /file.html to /file
  RewriteRule ^(.+).html$ /$1 [L,R]
 # now we will internally map /file to /file.html
 RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)/?$ /$1.html [END]


RewriteCond     %{SERVER_PORT} ^80$

RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]